<% if user_signed_in? %>
<!-- If you want a message to be at the top, put it here -->

<% else %>
	<div class="hero-unit">
		<div class="row-fluid">
		  <div class="span4">
		  	<h2>Navigation Bar to be created</h2>
		  </div>
		  <div class="span8">
				<h1>Welcome to my One Month Rails project!</h1>
				<p>
					You've found the home page for my first project which follows along with
					<%= link_to "One Month Rails", "http://onemonthrails.com" %>.
				</p>
				<p>

					<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
				</p>
			</div>
		</div>
	</div>
<% end %>