<h1>About</h1>
<p>
	I'm currently taking the course <%= link_to "One Month Rails", "http://onemonthrails.com" %>, which is a project to teach
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %> in one month. This is my sample application. Try changing the width of the window to see it auto-adjust (oooh, aaah).
</p>
